body {
	background: url(../images/questions_bg.jpg) no-repeat top center;
}

.progress {
	margin: 0 auto 60px;
	max-width: 500px;
	height: 20px;
	background-color: white;
	border-radius: 10px;
}

.progress .value {
	width: 10%;
	height: 20px;
	background-color: #ffb103;
	border-radius: 10px;
	transition: 0.5s;
}

.question-box {
	padding: 60px 40px;
	margin: 0 auto;
	max-width: 420px;
	background-color: white;
	box-shadow: 0 4px 25px #dde2e8;
}

.question-box .number {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	color: #2ec7a6;
}

.question-box .question {
	margin-bottom: 40px;
	line-height: 1.5;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.question-box .choice {
	font-size: 22px;
	border-radius: 120px;
}